$header-bg: #1da1f2;
$white: #FFFFFF;
@mixin vert-align($align: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $align;
}


header {
  @include vert-align;
  height: 400px;
  width: 100%;
  background-color: $header-bg;
  z-index: -1;
  color: $white;
  background-image: url("https://www.transparenttextures.com/patterns/shley-tree-1.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}