nav {
  font-family: "Bungee", sans-serif;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  top: 0;
}
nav span {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Bungee", sans-serif;
}
nav .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
}
