.tweets article {
  border-style: solid;
  background-color: #f4f1ec;
  font-family: "Source Sans Pro", sans-serif;
}
.tweets article:hover {
  box-shadow: 10px 5px 5px #808080;
}
.tweets header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f1ec;
  background-image: none;
  height: 75px;
  width: 100%;
  margin: auto;
  width: 95%;
}
.tweets p {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f4f1ec;
  margin: auto;
  width: 95%;
  border-bottom: 5px solid #000000;
}
.tweets footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f1ec;
  font-size: small;
  margin: auto;
  margin-bottom: 10px;
  width: 90%;
}

.username {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  color: #000000;
}

.handle {
  font-family: "Source Sans Pro", sans-serif;
  color: #808080;
  font-weight: bold;
}

.tweet-buttons {
  color: #4056A1;
}

.fa-flag:hover {
  color: #cfc51d;
}

.fa-retweet:hover {
  color: #cfc51d;
}

.fa-heart:hover {
  color: #cfc51d;
}
